@import 'tailwindcss';

@theme {
	--color-primary: #f28028;
	--color-secondary: #f26929;
	--color-negative: #f44336;
	--color-dark: #333333;
}

@layer base {
	@variant dark {
		--color-negative: #c10015;
	}

	.q-field__prefix {
		color: color-mix(in srgb, var(--color-secondary), var(--color-gray-100)) !important;
	}
}